.vscode
*.so
*.zip
*.rar
*.tgz
tfs
*.o
mysql-dumper
*.json

build/

CMakeLists3.txt
CMakeListsbkp2.txt
client_assertions.txt
store.log

tfsBKP
tfsbkp

restart-dbg
restart-gdb

deps/*
logs/*
run_tfs
run_tfs_dbg
tfs_dbg
